In [1]:
#Import dependencies.
import pandas as pd
from sqlalchemy import create_engine

#Import raw data tables in sqlite file as pandas dataframes.
database_path = 'storage2.sqlite'

engine = create_engine(f'sqlite:///{database_path}')
con = engine.connect()

df = pd.read_sql('SELECT * FROM gamedata', con)
df_pick = pd.read_sql('SELECT * FROM picks', con)
df_red = pd.read_sql('SELECT * FROM redBans', con)
df_blue = pd.read_sql('SELECT * FROM blueBans', con)

#Create a dataframe of in-game stats by player and position.
#Change summonerName to IRL name.
df['summonerName'] = df['summonerName'].replace({
    'The Life of Andy': 'Andy',
    'Fer Sharks': 'Jackson',
    'Diet Smite': 'Kori',
    'Santa kums 2nite': 'Kori',
    'B1ng Chillin': 'Kori',
    'Brony Hole': 'Luke',
    'cloaca buss down': 'Rob',
    'glocktobussy': 'Tonnie',
    'BeaIs': 'Beals',
    'Large Ski11 Gap': 'Tyler',
    'Net n Yahoo': 'Tyler',
    'Sp4nK1n M0nK3y5': 'Tyler',
    'SmokeDopeNotCope': 'Tyler',
    'HTXpanda': 'Jess',
    'NickBlumer': 'Nick B.',
    'G4ytr0x': 'Moo',
    'M4SHALLAH': 'Moo',
    'the scouts chode': 'Moo',
    'For Gun': 'Moo',
    'ezcyabye': 'Moo',
    'Anonymous Lemur': 'Nick D.',
    'Despp': 'Desp',
    'ducks on pond': 'Anthony',
    'Kinga': 'Kinga',
    'YoungOcelot': 'Milroy',
    'ScottSucks':'Furb',
    'SprightReamicks': 'Franklin'
})

#Edit/add columns.
df['gameDuration'] = df['gameDuration']/60
df['cs'] = df['totalMinionsKilled'] + df['neutralMinionsKilled']
df['teamId'] = df['teamId'].replace(100, 'BLUE')
df['teamId'] = df['teamId'].replace(200, 'RED')
df.loc[df['summonerName'] == 'Jess', 'individualPosition'] = 'UTILITY'
df.loc[df['championName'] == 'Twitch', 'individualPosition'] = 'BOTTOM'
df.loc[df['championName'] == 'Nautilus', 'individualPosition'] = 'UTILITY'
change_col_list = ['win', 'firstBloodKill', 'firstBloodAssist', 'firstTowerKill', 'firstTowerAssist']
for i in change_col_list:
    df[i] = df[i].replace('1', 1)
    df[i] = df[i].replace('0', 0)

#Calculate total team damage dealt, total team damage taken, and total team kills for each side in each game. Merge data into existing dataframe and rename.
df_total_team_gold = df.groupby(['gameId', 'teamId'])['goldEarned'].sum()
df1 = pd.merge(df, df_total_team_gold, on = ['gameId', 'teamId'])

df_total_team_dmg = df.groupby(['gameId', 'teamId'])['totalDamageDealtToChampions'].sum()
df2 = pd.merge(df1, df_total_team_dmg, on = ['gameId', 'teamId'])

df_total_team_dmg_tkn = df.groupby(['gameId', 'teamId'])['totalDamageTaken'].sum()
df3 = pd.merge(df2, df_total_team_dmg_tkn, on = ['gameId', 'teamId'])

df_total_team_kills = df.groupby(['gameId', 'teamId'])['kills'].sum()
df4 = pd.merge(df3, df_total_team_kills, on = ['gameId', 'teamId'])

df_total_player_games = df.groupby(['summonerName'])['gameId'].nunique()
df4 = pd.merge(df4, df_total_player_games, on = ['summonerName'])

df_total_champ_games = df.groupby(['championName'])['gameId'].nunique()
df4 = pd.merge(df4, df_total_champ_games, on = ['championName'])

df4 = df4.rename(columns = {
    'goldEarned_x': 'goldEarned',
    'goldEarned_y': 'team_goldEarned',
    'totalDamageDealtToChampions_x': 'totalDamageDealtToChampions',
    'totalDamageDealtToChampions_y': 'team_totalDamageDealtToChampions',
    'totalDamageTaken_x': 'totalDamageTaken',
    'totalDamageTaken_y': 'team_totalDamageTaken',
    'kills_x': 'kills',
    'kills_y': 'team_kills',
    'gameId_x': 'gameId',
    'gameId_y': 'total_player_games',
    'gameId': 'total_champ_games'
})

#Create dataframe grouped by Position and Name showing games played, wins, losses, and win percent.
df5 = df4[['individualPosition', 'summonerName', 'gameId']].groupby(['individualPosition', 'summonerName']).nunique()
df6 = df4[['individualPosition', 'summonerName', 'win']].groupby(['individualPosition', 'summonerName']).sum()

df7 = pd.merge(df5, df6, on=['individualPosition', 'summonerName'])
df7['loss'] = df7['gameId'] - df7['win']
df7['wp'] = df7['win'] / df7['gameId']

#Create dataframe grouped by Position and Name showing appropriate stats to track per min.
df_per_min = df4[['summonerName', 'individualPosition', 'gameDuration', 'cs', 'goldEarned', 'totalDamageDealtToChampions', 'totalDamageTaken', 'totalHeal', 'totalHealsOnTeammates', 'totalDamageShieldedOnTeammates', 'visionScore', 'wardsPlaced', 'wardsKilled']]
df_per_min = df_per_min.groupby(['individualPosition', 'summonerName']).sum()

df_per_min['cspm'] = df_per_min['cs'] / df_per_min['gameDuration']
df_per_min['gpm'] = df_per_min['goldEarned'] / df_per_min['gameDuration']
df_per_min['dpm'] = df_per_min['totalDamageDealtToChampions'] / df_per_min['gameDuration']
df_per_min['dtpm'] = df_per_min['totalDamageTaken'] / df_per_min['gameDuration']
df_per_min['hpm'] = df_per_min['totalHeal'] / df_per_min['gameDuration']
df_per_min['ahspm'] = (df_per_min['totalHealsOnTeammates'] + df_per_min['totalDamageShieldedOnTeammates']) / df_per_min['gameDuration']
df_per_min['vspm'] = df_per_min['visionScore'] / df_per_min['gameDuration']
df_per_min['wppm'] = df_per_min['wardsPlaced'] / df_per_min['gameDuration']
df_per_min['wkpm'] = df_per_min['wardsKilled'] / df_per_min['gameDuration']
df_per_min['dpg'] = df_per_min['dpm'] / df_per_min['gpm']

df_per_min = df_per_min[['cspm', 'gpm', 'dpm', 'dtpm', 'hpm', 'ahspm', 'vspm', 'wppm', 'wkpm', 'dpg']]

#Create dataframe with appropriate per game stats and grouped by Position and Name.
df8 = df4[['individualPosition', 'summonerName', 'kills', 'deaths', 'assists', 'goldEarned', 'totalDamageDealtToChampions', 'totalDamageTaken', 'timeCCingOthers', 'damageDealtToTurrets', 'firstBloodKill', 'firstBloodAssist', 'firstTowerKill',
           'firstTowerAssist', 'turretPlatesTaken', 'soloKills', 'outnumberedKills', 'doubleKills', 'tripleKills', 'quadraKills', 'pentaKills', 'epicMonsterSteals', 'skillshotsHit', 'skillshotsDodged', 
           'abilityUses', 'wardsGuarded', 'visionWardsBoughtInGame', 'laneMinionsFirst10Minutes', 'jungleCsBefore10Minutes', 'team_goldEarned', 'team_totalDamageDealtToChampions', 'team_totalDamageTaken', 'team_kills']]
df9 = df8.groupby(['individualPosition', 'summonerName']).sum()

df9['kda'] = (df9['kills'] + df9['assists']) / (df9['deaths'])
df9['kp'] = (df9['kills'] + df9['assists']) / (df9['team_kills'])
df9['gold_perc'] = df9['goldEarned'] / df9['team_goldEarned']
df9['dmg_perc'] = df9['totalDamageDealtToChampions'] / df9['team_totalDamageDealtToChampions']
df9['dmg_tkn_perc'] = df9['totalDamageTaken'] / df9['team_totalDamageTaken']

#Merge dataframes. Note: Need number of games from first dataframe before calculating per game stats.
df10 = pd.merge(df7, df_per_min, on = ['individualPosition', 'summonerName'])
df11 = pd.merge(df10, df9, on = ['individualPosition', 'summonerName'])

#Create columns in dataframe with appropriate per game stats.
df11['kills_per_game'] = df11['kills'] / df11['gameId']
df11['deaths_per_game'] = df11['deaths'] / df11['gameId']
df11['assists_per_game'] = df11['assists'] / df11['gameId']
df11['turret_plates_taken_per_game'] = df11['turretPlatesTaken'] / df11['gameId']
df11['solo_kills_per_game'] = df11['soloKills'] / df11['gameId']
df11['outnumbered_kills_per_game'] = df11['outnumberedKills'] / df11['gameId']
df11['first_blood_involved_per_game'] = (df11['firstBloodKill'] + df11['firstBloodAssist']) / df11['gameId']
df11['first_tower_involved_per_game'] = (df11['firstTowerKill'] + df11['firstTowerAssist']) / df11['gameId']
df11['visionWardsBoughtInGame_per_game'] = df11['visionWardsBoughtInGame'] / df11['gameId']
df11['wardsGuarded_per_game'] = df11['wardsGuarded'] / df11['gameId']
df11['epicMonsterSteals_per_game'] = df11['epicMonsterSteals'] / df11['gameId']
df11['doubleKills_per_game'] = df11['doubleKills'] / df11['gameId']
df11['tripleKills_per_game'] = df11['tripleKills'] / df11['gameId']
df11['quadraKills_per_game'] = df11['quadraKills'] / df11['gameId']
df11['pentaKills_per_game'] = df11['pentaKills'] / df11['gameId']
df11['skillshotsHit_per_game'] = df11['skillshotsHit'] / df11['gameId']
df11['skillshotsDodged_per_game'] = df11['skillshotsDodged'] / df11['gameId']
df11['abilityUses_per_game'] = df11['abilityUses'] / df11['gameId']
df11['minionsFirst10Minutes_per_game'] = (df11['laneMinionsFirst10Minutes'] + df11['jungleCsBefore10Minutes']) / df11['gameId']
df11['damageDealtToTurrets_per_game'] = df11['damageDealtToTurrets'] / df11['gameId']
df11['timeCCingOthers_per_game'] = df11['timeCCingOthers'] / df11['gameId']
df11 = df11.reset_index()

#Organize dataframe columns in desired order.
game_data = df11[['summonerName', 'individualPosition', 'gameId', 'win', 'loss', 'wp', 'kills_per_game', 'deaths_per_game', 'assists_per_game', 'kda', 'kp', 'cspm', 'gpm', 'gold_perc', 'dpm', 'dmg_perc', 'dpg', 'dtpm', 'dmg_tkn_perc', 'hpm', 'ahspm', 'vspm', 'wppm',
              'wkpm', 'visionWardsBoughtInGame_per_game', 'wardsGuarded_per_game', 'first_blood_involved_per_game', 'first_tower_involved_per_game', 'solo_kills_per_game', 'outnumbered_kills_per_game', 
              'doubleKills_per_game', 'tripleKills_per_game', 'quadraKills_per_game', 'pentaKills_per_game', 'turret_plates_taken_per_game', 'damageDealtToTurrets_per_game', 
              'minionsFirst10Minutes_per_game', 'timeCCingOthers_per_game', 'skillshotsHit_per_game', 'skillshotsDodged_per_game', 'abilityUses_per_game', 'epicMonsterSteals_per_game']]

#Create dataframe of winrate stats by player.
#Calculate wins and games played by player.
df4a = df4.groupby(['summonerName'])['win'].sum()
df4b = df4.groupby(['summonerName'])['gameId'].nunique()
df4c = pd.merge(df4a, df4b, on = ['summonerName'])

#Edit/add columns.
winrate = df4c[['gameId', 'win']]
winrate['loss'] = winrate['gameId'] - winrate['win']
winrate['wp'] = winrate['win'] / winrate['gameId']

#Create dataframe of pick ban stats.
#Edit/add columns.
df_pick['gameId'] = 1
df_pick['win'] = df_pick['win'].replace('1', 1)
df_pick['win'] = df_pick['win'].replace('0', 0)

df_pick_red = df_pick[df_pick['teamId'] == 200]
df_pick_red['teamId'] = 'RED'
df_pick_red = df_pick_red.groupby('championName').sum()
df_pick_red['loss'] = df_pick_red['gameId'] - df_pick_red['win']
df_pick_red['wp'] = df_pick_red['win'] / df_pick_red['gameId']

df_pick_blue = df_pick[df_pick['teamId'] == 100]
df_pick_blue['teamId'] = 'BLUE'
df_pick_blue = df_pick_blue.groupby('championName').sum()
df_pick_blue['loss'] = df_pick_blue['gameId'] - df_pick_blue['win']
df_pick_blue['wp'] = df_pick_blue['win'] / df_pick_blue['gameId']

#Merge dataframes of picks by side.
df_pick2 = pd.merge(df_pick_red, df_pick_blue, on = ['championName'], how ='outer')
df_pick2 = df_pick2.fillna(0)
df_pick2 = df_pick2.rename(columns = {
    'gameId_x': 'pick_red',
    'win_x': 'win_red',
    'loss_x': 'loss_red',
    'wp_x': 'wp_red',
    'gameId_y': 'pick_blue',
    'win_y': 'win_blue',
    'loss_y': 'loss_blue',
    'wp_y': 'wp_blue'
})

#Edit/add columns.
df_pick2['pick'] = df_pick2['pick_red'] + df_pick2['pick_blue']
df_pick2['win'] = df_pick2['win_red'] + df_pick2['win_blue']
df_pick2['loss'] = df_pick2['loss_red'] + df_pick2['loss_blue']
df_pick2['wp'] = df_pick2['win'] / df_pick2['pick']

#Create lists of first/second phase bans using list concat (no difference between first/second/third ban and fourth/fifth ban).
first_red_ban = df_red['firstBan'].to_list()
second_red_ban = df_red['secondBan'].to_list()
third_red_ban = df_red['thirdBan'].to_list()
fourth_red_ban = df_red['fourthBan'].to_list()
fifth_red_ban = df_red['fifthBan'].to_list()

first_phase_red_ban = first_red_ban + second_red_ban + third_red_ban
second_phase_red_ban = fourth_red_ban + fifth_red_ban

#Create dataframe from first/second phase bans.
df_red2 = pd.DataFrame(first_phase_red_ban, columns = ['championName'])
df_red3 = pd.DataFrame(second_phase_red_ban, columns = ['championName'])

#Add column to sum later.
df_red2['redFirstPhaseBan'] = 1
df_red3['redSecondPhaseBan'] = 1

#Concat dataframes and group by champion name.
red_ban = pd.concat([df_red2, df_red3])
red_ban = red_ban.fillna(0)
red_ban = red_ban.reset_index()
red_ban2 = red_ban.groupby(['championName']).sum()

#Same thing done for blue side bans.
first_blue_ban = df_blue['firstBan'].to_list()
second_blue_ban = df_blue['secondBan'].to_list()
third_blue_ban = df_blue['thirdBan'].to_list()
fourth_blue_ban = df_blue['fourthBan'].to_list()
fifth_blue_ban = df_blue['fifthBan'].to_list()

first_phase_blue_ban = first_blue_ban + second_blue_ban + third_blue_ban
second_phase_blue_ban = fourth_blue_ban + fifth_blue_ban

df_blue2 = pd.DataFrame(first_phase_blue_ban, columns=['championName'])
df_blue3 = pd.DataFrame(second_phase_blue_ban, columns=['championName'])

df_blue2['blueFirstPhaseBan'] = 1
df_blue3['blueSecondPhaseBan'] = 1

blue_ban = pd.concat([df_blue2, df_blue3])
blue_ban = blue_ban.fillna(0)
blue_ban = blue_ban.reset_index()
blue_ban2 = blue_ban.groupby(['championName']).sum()

#Merge red and blue bans.
df_ban = pd.merge(red_ban2, blue_ban2, on = ['championName'], how ='outer')
df_ban = df_ban.fillna(0)

#Add column.
df_ban['ban'] = df_ban['redFirstPhaseBan'] + df_ban['redSecondPhaseBan'] + df_ban['blueFirstPhaseBan'] + df_ban['blueSecondPhaseBan']

#Merge pick and ban data.
pick_ban = pd.merge(df_ban, df_pick2, on = ['championName'], how ='outer')
pick_ban = pick_ban.fillna(0)

#Add columns.
pick_ban['pickban_perc'] = (pick_ban['pick'] + pick_ban['ban']) / len(df['gameId'].unique().tolist())
pick_ban['ban_red'] = pick_ban['redFirstPhaseBan'] + pick_ban['redSecondPhaseBan']
pick_ban['ban_blue'] = pick_ban['blueFirstPhaseBan'] + pick_ban['blueSecondPhaseBan']

#Organize dataframe columns in desired order.
pick_ban = pick_ban.reset_index()
pick_ban = pick_ban[['championName', 'pickban_perc', 'pick', 'ban', 'win', 'loss', 'wp', 
                    'pick_red', 'win_red', 'loss_red', 'wp_red', 
                    'pick_blue', 'win_blue', 'loss_blue', 'wp_blue',
                    'ban_red', 'redFirstPhaseBan', 'redSecondPhaseBan', 'ban_blue', 'blueFirstPhaseBan', 'blueSecondPhaseBan']]

#Create grid display of Win/Loss between two players on the opposite team.
#Create list of players in alphabetical order and a dataframe with gameId, name, and result for each game each player has played.
player_list = df['summonerName'].unique().tolist()
player_list = sorted(player_list)
test = df4[['gameId', 'summonerName', 'win']]

#Function to take in two player names and output each players wins when the other player in on the opposite team.
playerA_wins = []
playerB_wins = []
def getHeadToHeadData(playerA, playerB):
    opp_team1 = test[test['summonerName'] == playerA]
    opp_team2 = test[test['summonerName'] == playerB]
    opp_team3 = pd.merge(opp_team1, opp_team2, on = 'gameId', how = 'inner')
    opp_team4 = opp_team3[opp_team3['win_x'] != opp_team3['win_y']]
    playerA_wins.append(opp_team4['win_x'].sum())
    playerB_wins.append(opp_team4['win_y'].sum())
    return

#Generate head to head data. Output is two lists of ints.
for i in range(len(player_list)):
    for j in range(len(player_list)):
        getHeadToHeadData(player_list[i], player_list[j])

#Create a list stitching the two lists together, showing 'W - L' for i row (playerA) against j column (playerB).
h2h_list = []
for i in range(len(playerA_wins)):
    h2h_list.append(f'{playerB_wins[i]} - {playerA_wins[i]}')

#Create empty dataframe grid of player names (columns and rows).
head_to_head = pd.DataFrame(index=player_list, columns=player_list).fillna(0)

#Put data in dataframe. h2h_list is indexed to be desired column data, splice list and add to column in dataframe.
for i in range(len(player_list)):
    head_to_head[player_list[i]] = h2h_list[len(player_list)*i:len(player_list)*(i+1)]

#Create grid display of Win/Loss between two players on the same team.
#Function to take in two player names and output each players wins when the other player in on the same team.
playersAB_wins = []
playersAB_losses = []
def getSameTeamData(playerA, playerB):
    same_team1 = test[test['summonerName'] == playerA]
    same_team2 = test[test['summonerName'] == playerB]
    same_team3 = pd.merge(same_team1, same_team2, on = 'gameId', how = 'inner')
    same_team4 = same_team3[same_team3['win_x'] == same_team3['win_y']]
    playersAB_wins.append(same_team4['win_x'].sum())
    playersAB_losses.append(len(same_team4.index) - same_team4['win_x'].sum())
    return

#Generate head to head data. Output is two lists of ints.
for i in range(len(player_list)):
    for j in range(len(player_list)):
        getSameTeamData(player_list[i], player_list[j])

#Create a list stitching the two lists together, showing 'W - L' for i row (playerA) with j column (playerB).
same_team_list = []
for i in range(len(playersAB_wins)):
    same_team_list.append(f'{playersAB_wins[i]} - {playersAB_losses[i]}')

#Create empty dataframe grid of player names (columns and rows).
same_team = pd.DataFrame(index=player_list, columns=player_list).fillna(0)

#Put data in dataframe. h2h_list is indexed to be desired column data, splice list and add to column in dataframe.
for i in range(len(player_list)):
    same_team[player_list[i]] = same_team_list[len(player_list)*i:len(player_list)*(i+1)]

#Edit dataframes for export to JSON file.
game_data = game_data[game_data['gameId'] > 2]
game_data = game_data.replace({'individualPosition': {'TOP': 'Top', 'JUNGLE': 'Jung', 'MIDDLE': 'Mid', 'BOTTOM': 'Bot', 'UTILITY': 'Supp'}})
game_data = game_data.rename(columns = {
    'gameId': 'NumberOfGames',
    'win': 'Wins',
    'loss': 'Losses',
    'wp': 'WinPercent',
    'kills_per_game': 'KillsPerGame',
    'deaths_per_game': 'DeathsPerGame',
    'assists_per_game': 'AssistsPerGame',
    'kda': 'KDA',
    'kp': 'KillParticipation',
    'cspm': 'CSPerMin',
    'gpm': 'GoldPerMin',
    'gold_perc': 'GoldPercent',
    'dpm': 'DamagePerMin',
    'dmg_perc': 'DamagePercent',
    'dpg': 'DamagePerGold',
    'dtpm': 'DamageTakenPerMin',
    'dmg_tkn_perc': 'DamageTakenPercent',
    'hpm': 'SelfHealingPerMin',
    'ahspm': 'AllyHealingShieldingPerMin',
    'vspm': 'VisionScorePerMin',
    'wppm': 'WardsPlacedPerMin',
    'wkpm': 'WardsKilledPerMin',
    'visionWardsBoughtInGame_per_game': 'PinksBoughtPerGame',
    'wardsGuarded_per_game': 'WardsGuardedPerGame', 
    'first_blood_involved_per_game': 'FirstBloodPercent',
    'first_tower_involved_per_game': 'FirstTowerPercent',
    'solo_kills_per_game': 'SoloKillsPerGame',
    'outnumbered_kills_per_game': 'OutnumberedKillsPerGame',
    'doubleKills_per_game': 'DoubleKillsPerGame',
    'tripleKills_per_game': 'TripleKillsPerGame',
    'quadraKills_per_game': 'QuadraKillsPerGame',
    'pentaKills_per_game': 'PentaKillsPerGame',
    'turret_plates_taken_per_game': 'TurretPlatesTakenPerGame',
    'damageDealtToTurrets_per_game': 'DamageToTurretsPerGame',
    'minionsFirst10Minutes_per_game': 'CSat10MinPerGame',
    'timeCCingOthers_per_game': 'TimeCCingOthersPerGame',
    'skillshotsHit_per_game': 'SkillshotsHitPerGame',
    'skillshotsDodged_per_game': 'SkillshotsDodgedPerGame',
    'abilityUses_per_game': 'AbilityUsesPerGame',
    'epicMonsterSteals_per_game': 'EpicMonsterStealsPerGame'
})
game_data['WinPercent'] = game_data['WinPercent']*100
game_data['KillParticipation'] = game_data['KillParticipation']*100
game_data['GoldPercent'] = game_data['GoldPercent']*100
game_data['DamagePercent'] = game_data['DamagePercent']*100
game_data['DamageTakenPercent'] = game_data['DamageTakenPercent']*100
game_data['FirstBloodPercent'] = game_data['FirstBloodPercent']*100
game_data['FirstTowerPercent'] = game_data['FirstTowerPercent']*100

winrate['wp'] = winrate['wp']*100

pick_ban = pick_ban[pick_ban['pickban_perc'] > 0.11]
pick_ban = pick_ban.rename(columns = {
    'pickban_perc': 'PickBanPercent',
    'pick': 'Picks',
    'ban': 'Bans',
    'win': 'Wins',
    'loss': 'Losses',
    'wp': 'WinPercent',
    'pick_red': 'RedPicks',
    'win_red': 'RedWins',
    'loss_red': 'RedLosses',
    'wp_red': 'RedWinPercent',
    'pick_blue': 'BluePicks',
    'win_blue': 'BlueWins',
    'loss_blue': 'BlueLosses',
    'wp_blue': 'BlueWinPercent',
    'ban_red': 'RedBans',
    'redFirstPhaseBan': 'RedFirstPhaseBan',
    'redSecondPhaseBan': 'RedSecondPhaseBan',
    'ban_blue': 'BlueBans',
    'blueFirstPhaseBan': 'BlueFirstPhaseBan',
    'blueSecondPhaseBan': 'BlueSecondPhaseBan'
})
pick_ban['PickBanPercent'] = pick_ban['PickBanPercent']*100
pick_ban['WinPercent'] = pick_ban['WinPercent']*100
pick_ban['RedWinPercent'] = pick_ban['RedWinPercent']*100
pick_ban['BlueWinPercent'] = pick_ban['BlueWinPercent']*100
pick_ban = pick_ban.sort_values(by = 'championName')

df4 = df4.replace({'teamId': {'BLUE': 'Blue', 'RED': 'Red'}})
df4 = df4.replace({'win': {1: 'Win', 0: 'Loss'}})
df4 = df4.replace({'individualPosition': {'TOP': 'Top', 'JUNGLE': 'Jung', 'MIDDLE': 'Mid', 'BOTTOM': 'Bot', 'UTILITY': 'Supp'}})

df4['KillParticipation'] = (df4['kills'] + df4['assists']) / df4['team_kills']
df4['GoldPercent'] = df4['goldEarned'] / df4['team_goldEarned']
df4['DamageDealtPercent'] = df4['totalDamageDealtToChampions'] / df4['team_totalDamageDealtToChampions']
df4['DamageTakenPercent'] = df4['totalDamageTaken'] / df4['team_totalDamageTaken']

df4['KillParticipation'] = df4['KillParticipation']*100
df4['GoldPercent'] = df4['GoldPercent']*100
df4['DamageDealtPercent'] = df4['DamageDealtPercent']*100
df4['DamageTakenPercent'] = df4['DamageTakenPercent']*100

raw_data = df4.rename(columns = {
    'gameId': 'GameID',
    'summonerName': 'Name',
    'individualPosition': 'Position',
    'championName': 'ChampionName',
    'teamId': 'Side',
    'gameDuration': 'GameDuration',
    'win': 'Result',
    'kills': 'Kills',
    'deaths': 'Deaths',
    'assists': 'Assists',
    'cs': 'CS',
    'goldEarned': 'Gold',
    'totalDamageDealtToChampions': 'DamageDealt',
    'totalDamageTaken': 'DamageTaken',
    'visionScore': 'VisionScore',
    'total_player_games': 'TotalPlayerGames',
    'total_champ_games': 'TotalChampGames'
})
raw_data = raw_data.sort_values(by = 'GameID')
raw_data = raw_data[['Name', 'Position', 'ChampionName', 'Side', 'GameDuration', 'Result', 'Kills', 'Deaths', 'Assists', 'KillParticipation', 'CS',
                     'Gold', 'GoldPercent', 'DamageDealt', 'DamageDealtPercent', 'DamageTaken', 'DamageTakenPercent', 'VisionScore', 'TotalPlayerGames', 'TotalChampGames', 'GameID']]

con.close()

C:\Users\akgso\AppData\Local\Temp\ipykernel_4492\2468520173.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winrate['loss'] = winrate['gameId'] - winrate['win']
C:\Users\akgso\AppData\Local\Temp\ipykernel_4492\2468520173.py:174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winrate['wp'] = winrate['win'] / winrate['gameId']
C:\Users\akgso\AppData\Local\Temp\ipykernel_4492\2468520173.py:183: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pick_red['teamId'] = 'RED'
C:\Users\akgso\AppData\Local\Temp\ipykernel_4492\2468520173.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pick_blue['teamId'] = 'BLUE'
C:\Users\akgso\AppData\Local\Temp\ipykernel_4492\2468520173.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winrate['wp'] = winrate['wp']*100

In [2]:
def h2hMatchHistory(PersonA, PersonB, Position):
    raw_data1 = raw_data[['Name', 'Position', 'ChampionName', 'Side', 'Result', 'Kills', 'Deaths', 'Assists', 'KillParticipation', 'CS', 'Gold', 'GoldPercent', 'DamageDealt', 'DamageDealtPercent', 'VisionScore', 'GameID']]
    raw_data1 = raw_data1.replace({'Result': {'Win': 1, 'Loss': 0}})
    
    raw_data2 = raw_data1[raw_data1['Name'] == PersonA]
    raw_data3 = raw_data2[raw_data2['Position'] == Position]
    first_list = raw_data3['GameID'].tolist()
                      
    raw_data4 = raw_data1[raw_data1['Name'] == PersonB]
    raw_data5 = raw_data4[raw_data4['Position'] == Position]
    second_list = raw_data5['GameID'].tolist()

    raw_data6 = pd.concat([raw_data3, raw_data5])
    comb_list = list(set(first_list) & set(second_list))
    
    raw_data7 = raw_data6[raw_data6['GameID'].isin(comb_list)].sort_values(by = 'Name').sort_values(by = 'GameID').reset_index(drop = True)
    print(raw_data7.groupby('Name')['Result'].sum())
    
    return raw_data7
h2hMatchHistory('Andy', 'Kori', 'Bot')

Name
Andy    3
Kori    3
Name: Result, dtype: int64

,Name,Position,ChampionName,Side,Result,Kills,Deaths,Assists,KillParticipation,CS,Gold,GoldPercent,DamageDealt,DamageDealtPercent,VisionScore,GameID
0,Andy,Bot,Caitlyn,Blue,1,0,7,6,35.294118,179,10266,18.002315,22852,21.550358,13,4515197600
1,Kori,Bot,Ezreal,Red,0,5,2,4,47.368421,174,9616,20.597181,13759,16.219880,20,4515197600
2,Andy,Bot,Caitlyn,Blue,0,5,7,7,54.545455,233,14678,21.407736,24264,20.192908,29,4515262943
3,Kori,Bot,Vayne,Red,1,10,3,7,51.515152,269,17456,24.247475,23108,18.824641,27,4515262943
4,Andy,Bot,Caitlyn,Red,1,18,5,9,96.428571,136,14466,28.212029,37335,41.780906,14,4521808337
5,Kori,Bot,Lucian,Blue,0,2,5,6,36.363636,143,8713,19.936390,8643,14.267085,10,4521808337
6,Andy,Bot,Xayah,Blue,1,7,5,9,55.172414,240,13694,22.013954,26264,21.106602,14,4569548764
7,Kori,Bot,Zeri,Red,0,7,5,6,61.904762,256,14169,24.691121,19517,26.914431,27,4569548764
8,Andy,Bot,Draven,Blue,0,6,9,5,44.000000,203,14438,23.633209,19986,21.700561,20,4569587781
9,Kori,Bot,Ezreal,Red,1,7,4,17,57.142857,213,13852,20.016184,21599,17.559021,26,4569587781
10,Andy,Bot,Caitlyn,Blue,0,8,7,5,68.421053,277,15425,25.851811,30049,27.017623,48,4569632202
11,Kori,Bot,Xayah,Red,1,10,4,9,70.370370,266,16587,24.760412,24161,22.894261,55,4569632202

In [3]:
winrate = winrate.reset_index()
winrate = winrate.rename(columns = {
    'summonerName': 'Name',
    'gameId': 'Games',
    'win': 'Wins',
    'loss': 'Losses',
    'wp': 'Win Percent'
})
winrate.sort_values(by = 'Win Percent', ascending = False).reset_index(drop = True)

        Name  Games  Wins  Losses  Win Percent
0    Nick D.     26    20       6    76.923077
1       Jess     25    19       6    76.000000
2       Andy     32    21      11    65.625000
3       Desp     25    14      11    56.000000
4     Milroy     50    28      22    56.000000
5    Jackson     28    15      13    53.571429
6      Kinga     19    10       9    52.631579
7    Nick B.     42    22      20    52.380952
8     Tonnie     46    21      25    45.652174
9        Rob     20     9      11    45.000000
10   Anthony     45    20      25    44.444444
11      Luke     18     8      10    44.444444
12     Beals     34    15      19    44.117647
13       Moo     45    19      26    42.222222
14      Kori     35    14      21    40.000000
15     Tyler     54    19      35    35.185185
16      Furb      5     1       4    20.000000
17  Franklin      1     0       1     0.000000

In [4]:
winrate = winrate.drop(columns = ['Win Percent'])
winrate_old = pd.DataFrame(data = {
    'Name': ['Andy', 'Milroy', 'Rob', 'Nick D.', 'Jackson', 'Moo', 'Beals', 'Luke', 'Tonnie', 'Anthony', 'Jess', 'Kori', 'Tyler', 'Nick B.'],
    'Games': [133, 162, 89, 100, 127, 98, 51, 123, 111, 136, 70, 124, 141, 129],
    'Wins': [72, 91, 43, 52, 70, 53, 25, 62, 55, 68, 34, 54, 63, 56]
})
winrate_old['Losses'] = winrate_old['Games'] - winrate_old['Wins']

winrate_comb = winrate.merge(winrate_old, how = 'inner', on = 'Name')
winrate_comb['Games'] = winrate_comb['Games_x'] + winrate_comb['Games_y']
winrate_comb['Wins'] = winrate_comb['Wins_x'] + winrate_comb['Wins_y']
winrate_comb['Losses'] = winrate_comb['Losses_x'] + winrate_comb['Losses_y']
winrate_comb['Win Percent'] = (winrate_comb['Wins']*100) / winrate_comb['Games']
winrate_comb = winrate_comb[['Name', 'Games', 'Wins', 'Losses', 'Win Percent']].sort_values(by = 'Win Percent', ascending = False).reset_index(drop = True)
winrate_comb

       Name  Games  Wins  Losses  Win Percent
0   Nick D.    126    72      54    57.142857
1      Andy    165    93      72    56.363636
2    Milroy    212   119      93    56.132075
3      Jess     95    53      42    55.789474
4   Jackson    155    85      70    54.838710
5       Moo    143    72      71    50.349650
6      Luke    141    70      71    49.645390
7   Anthony    181    88      93    48.618785
8    Tonnie    157    76      81    48.407643
9       Rob    109    52      57    47.706422
10    Beals     85    40      45    47.058824
11  Nick B.    171    78      93    45.614035
12     Kori    159    68      91    42.767296
13    Tyler    195    82     113    42.051282

In [5]:
raw_data['DmgPerGold'] = raw_data['DamageDealt']/raw_data['Gold']
raw_data8 = raw_data[['Name', 'Position', 'ChampionName', 'Result', 'Kills', 'Deaths', 'Assists', 'DmgPerGold']]
raw_data9 = raw_data8.sort_values(by = 'DmgPerGold', ascending = False).reset_index(drop = True).head(15)
raw_data9

       Name Position  ChampionName Result  Kills  Deaths  Assists  DmgPerGold
0      Desp      Mid        Viktor    Win      5       8       11    4.442726
1      Desp      Bot        KogMaw    Win     12       4       11    3.369926
2   Jackson      Mid  Heimerdinger    Win      7      10       17    3.253313
3      Desp      Mid        Viktor   Loss      9       9        4    3.083083
4     Tyler     Supp        Maokai   Loss      7       7       12    3.015016
5    Milroy      Mid        Viktor    Win      7       3       15    3.006907
6     Tyler     Supp        Maokai    Win      2       7       18    2.993564
7      Andy      Mid         Swain    Win      8       5       13    2.947784
8   Anthony      Mid        Syndra   Loss     18      15       12    2.892481
9     Kinga      Bot         Vayne   Loss      8       4       11    2.882892
10    Tyler     Supp           Lux   Loss      6       6       10    2.837570
11  Anthony      Mid           Lux   Loss      4       2        8    2.783510
12     Luke      Top        Singed   Loss      5       3        4    2.774433
13     Desp      Top        Gragas    Win      3       6        6    2.747109
14    Tyler     Supp        Maokai    Win      3       4        9    2.706085

In [6]:
raw_data['count'] = 1
raw_data99 = raw_data[['Position', 'count']]
raw_data99.groupby('Position').sum()

          count
Position
Bot         110
Jung        110
Mid         110
Supp        110
Top         110

In [7]:
testdf = df4.loc[df4['individualPosition'] == 'Mid']
testdf2 = testdf.loc[testdf['win'] == 'Win']
testdf3 = testdf.loc[testdf['win'] == 'Loss']
testdf2['totalDamageDealtToChampions'].mean()

26685.50909090909

In [8]:
testdf3['totalDamageDealtToChampions'].mean()

22463.0

In [9]:
df.columns

Index(['gameId', 'gameVersion', 'gameDuration', 'summonerName', 'teamId',
       'individualPosition', 'championName', 'win', 'kills', 'deaths',
       'assists', 'totalMinionsKilled', 'neutralMinionsKilled', 'goldEarned',
       'totalDamageDealtToChampions', 'totalDamageTaken', 'totalHeal',
       'totalHealsOnTeammates', 'totalDamageShieldedOnTeammates',
       'timeCCingOthers', 'damageDealtToTurrets', 'visionScore', 'wardsPlaced',
       'wardsKilled', 'visionWardsBoughtInGame', 'firstBloodKill',
       'firstBloodAssist', 'firstTowerKill', 'firstTowerAssist', 'doubleKills',
       'tripleKills', 'quadraKills', 'pentaKills', 'laneMinionsFirst10Minutes',
       'jungleCsBefore10Minutes', 'outnumberedKills', 'soloKills',
       'turretPlatesTaken', 'epicMonsterSteals', 'skillshotsHit',
       'skillshotsDodged', 'wardsGuarded', 'abilityUses', 'cs'],
      dtype='object')

In [10]:
game_data.columns

Index(['summonerName', 'individualPosition', 'NumberOfGames', 'Wins', 'Losses',
       'WinPercent', 'KillsPerGame', 'DeathsPerGame', 'AssistsPerGame', 'KDA',
       'KillParticipation', 'CSPerMin', 'GoldPerMin', 'GoldPercent',
       'DamagePerMin', 'DamagePercent', 'DamagePerGold', 'DamageTakenPerMin',
       'DamageTakenPercent', 'SelfHealingPerMin', 'AllyHealingShieldingPerMin',
       'VisionScorePerMin', 'WardsPlacedPerMin', 'WardsKilledPerMin',
       'PinksBoughtPerGame', 'WardsGuardedPerGame', 'FirstBloodPercent',
       'FirstTowerPercent', 'SoloKillsPerGame', 'OutnumberedKillsPerGame',
       'DoubleKillsPerGame', 'TripleKillsPerGame', 'QuadraKillsPerGame',
       'PentaKillsPerGame', 'TurretPlatesTakenPerGame',
       'DamageToTurretsPerGame', 'CSat10MinPerGame', 'TimeCCingOthersPerGame',
       'SkillshotsHitPerGame', 'SkillshotsDodgedPerGame', 'AbilityUsesPerGame',
       'EpicMonsterStealsPerGame'],
      dtype='object')

In [11]:
game_data

,summonerName,individualPosition,NumberOfGames,Wins,Losses,WinPercent,KillsPerGame,DeathsPerGame,AssistsPerGame,KDA,...,QuadraKillsPerGame,PentaKillsPerGame,TurretPlatesTakenPerGame,DamageToTurretsPerGame,CSat10MinPerGame,TimeCCingOthersPerGame,SkillshotsHitPerGame,SkillshotsDodgedPerGame,AbilityUsesPerGame,EpicMonsterStealsPerGame
0,Andy,Bot,14,9,5,64.285714,7.000000,5.785714,7.142857,2.444444,...,0.000000,0.0,3.285714,7668.928571,68.785714,17.000000,39.785714,33.785714,166.857143,0.000000
1,Beals,Bot,4,0,4,0.000000,5.250000,5.750000,6.750000,2.086957,...,0.000000,0.0,1.000000,3115.000000,53.250000,19.500000,53.750000,28.250000,198.750000,0.000000
2,Desp,Bot,10,5,5,50.000000,7.100000,4.200000,7.100000,3.380952,...,0.100000,0.0,1.900000,5105.800000,60.800000,11.000000,26.600000,34.000000,162.100000,0.000000
3,Kinga,Bot,19,10,9,52.631579,7.368421,5.157895,7.210526,2.826531,...,0.052632,0.0,0.631579,3771.421053,61.178947,10.789474,74.789474,28.684211,187.263158,0.000000
4,Kori,Bot,17,6,11,35.294118,7.470588,4.588235,6.470588,3.038462,...,0.000000,0.0,0.470588,3301.235294,64.588235,11.823529,72.411765,37.941176,239.941176,0.058824
5,Milroy,Bot,7,5,2,71.428571,4.857143,5.000000,8.857143,2.742857,...,0.000000,0.0,1.857143,5632.571429,62.000000,14.000000,46.428571,25.285714,178.285714,0.000000
7,Nick B.,Bot,31,17,14,54.838710,8.096774,4.419355,6.870968,3.386861,...,0.000000,0.0,1.709677,6212.645161,66.419355,13.354839,25.032258,29.354839,175.129032,0.000000
8,Rob,Bot,5,3,2,60.000000,5.600000,4.200000,6.400000,2.857143,...,0.000000,0.0,0.600000,3488.000000,62.200000,6.600000,51.600000,42.600000,249.200000,0.000000
16,Milroy,Jung,32,18,14,56.250000,4.437500,5.468750,11.593750,2.931429,...,0.000000,0.0,0.812500,1160.500000,50.771875,43.843750,8.312500,48.718750,268.468750,0.187500
17,Moo,Jung,6,1,5,16.666667,7.000000,6.833333,9.000000,2.341463,...,0.000000,0.0,1.000000,2333.666667,47.975000,26.666667,2.500000,33.833333,292.666667,0.166667
18,Nick D.,Jung,21,15,6,71.428571,4.619048,4.285714,11.142857,3.677778,...,0.000000,0.0,0.761905,934.761905,57.297619,33.571429,7.476190,41.047619,343.238095,0.142857
19,Tonnie,Jung,42,20,22,47.619048,5.952381,5.380952,9.238095,2.823009,...,0.000000,0.0,0.690476,1293.000000,57.034524,39.023810,12.952381,41.238095,305.500000,0.214286
20,Andy,Mid,10,9,1,90.000000,7.900000,4.700000,11.200000,4.063830,...,0.000000,0.0,1.600000,4002.400000,69.200000,38.900000,75.700000,23.100000,302.800000,0.000000
21,Anthony,Mid,42,19,23,45.238095,6.761905,5.214286,6.095238,2.465753,...,0.000000,0.0,1.761905,3620.809524,74.176190,33.357143,42.952381,31.833333,439.071429,0.023810
22,Beals,Mid,8,5,3,62.500000,5.375000,2.375000,8.375000,5.789474,...,0.000000,0.0,1.375000,3627.875000,69.100000,20.125000,73.250000,23.125000,250.750000,0.000000
23,Desp,Mid,13,8,5,61.538462,6.076923,5.000000,8.692308,2.953846,...,0.076923,0.0,1.076923,1926.000000,59.569231,22.153846,71.000000,33.692308,377.769231,0.076923
24,Furb,Mid,3,1,2,33.333333,2.666667,2.666667,4.000000,2.500000,...,0.000000,0.0,0.333333,653.000000,58.000000,32.000000,37.333333,45.000000,278.666667,0.000000
25,Jackson,Mid,6,4,2,66.666667,6.833333,6.500000,12.666667,3.000000,...,0.000000,0.0,0.333333,5860.333333,64.500000,29.500000,60.166667,132.500000,262.500000,0.000000
26,Kori,Mid,4,2,2,50.000000,6.500000,3.750000,12.000000,4.933333,...,0.000000,0.0,1.250000,2318.000000,75.000000,42.500000,39.750000,29.500000,391.000000,0.000000
28,Milroy,Mid,7,3,4,42.857143,3.571429,7.142857,7.857143,1.600000,...,0.000000,0.0,1.000000,2529.428571,61.714286,22.571429,73.571429,37.714286,311.857143,0.000000
29,Moo,Mid,3,1,2,33.333333,2.666667,6.000000,5.666667,1.388889,...,0.000000,0.0,2.333333,2218.666667,60.333333,19.666667,8.333333,15.666667,376.666667,0.000000
30,Nick B.,Mid,7,2,5,28.571429,4.714286,5.285714,5.857143,2.000000,...,0.000000,0.0,0.857143,1396.857143,74.285714,7.714286,30.857143,34.285714,262.000000,0.000000
32,Tonnie,Mid,3,1,2,33.333333,5.333333,4.333333,7.666667,3.000000,...,0.000000,0.0,1.666667,1563.000000,55.000000,32.000000,24.333333,19.666667,310.333333,0.000000
35,Anthony,Top,3,1,2,33.333333,5.000000,4.000000,5.666667,2.666667,...,0.000000,0.0,3.333333,4538.333333,73.000000,23.666667,6.666667,25.000000,455.666667,0.000000
36,Beals,Top,17,9,8,52.941176,3.176471,4.882353,6.588235,2.000000,...,0.000000,0.0,1.529412,4532.588235,65.411765,27.764706,39.000000,20.117647,190.529412,0.058824
38,Jackson,Top,7,3,4,42.857143,5.285714,4.714286,5.142857,2.212121,...,0.000000,0.0,1.142857,5456.428571,66.857143,15.428571,37.285714,52.714286,261.000000,0.000000
39,Kori,Top,10,5,5,50.000000,6.300000,3.900000,5.900000,3.128205,...,0.000000,0.0,1.800000,4398.500000,63.500000,18.700000,33.100000,25.200000,311.900000,0.000000
40,Luke,Top,16,8,8,50.000000,4.562500,3.437500,4.875000,2.745455,...,0.000000,0.0,2.062500,6455.687500,64.812500,25.562500,9.687500,35.250000,235.500000,0.000000
41,Milroy,Top,4,2,2,50.000000,4.000000,5.000000,7.750000,2.350000,...,0.000000,0.0,0.500000,5676.000000,53.750000,9.750000,6.750000,26.500000,403.500000,0.000000
42,Moo,Top,30,15,15,50.000000,4.400000,5.833333,4.933333,1.600000,...,0.066667,0.0,1.800000,4508.866667,57.000000,24.466667,12.866667,67.300000,317.166667,0.000000
44,Nick D.,Top,4,4,0,100.000000,5.000000,3.750000,12.500000,4.666667,...,0.000000,0.0,1.000000,2265.750000,58.250000,46.250000,2.750000,23.250000,312.000000,0.000000
45,Rob,Top,14,6,8,42.857143,7.571429,4.785714,7.357143,3.119403,...,0.000000,0.0,2.285714,5821.928571,69.142857,22.642857,28.857143,42.714286,267.642857,0.000000
46,Andy,Supp,5,2,3,40.000000,2.400000,6.000000,15.200000,2.933333,...,0.000000,0.0,0.600000,550.400000,10.600000,44.800000,20.000000,61.000000,115.200000,0.000000
47,Beals,Supp,3,1,2,33.333333,0.666667,6.000000,12.000000,2.111111,...,0.000000,0.0,0.333333,354.000000,5.666667,30.000000,31.666667,39.666667,145.000000,0.000000
50,Jackson,Supp,13,8,5,61.538462,1.615385,4.923077,16.538462,3.687500,...,0.000000,0.0,2.000000,1215.384615,8.307692,40.692308,44.692308,36.307692,141.769231,0.000000
51,Jess,Supp,25,19,6,76.000000,1.600000,4.200000,16.480000,4.304762,...,0.000000,0.0,1.120000,1102.240000,4.960000,36.080000,79.440000,27.840000,227.440000,0.000000
53,Moo,Supp,5,2,3,40.000000,0.800000,4.200000,13.600000,3.428571,...,0.000000,0.0,1.800000,916.000000,8.200000,38.400000,44.000000,15.600000,143.200000,0.000000
56,Tyler,Supp,51,19,32,37.254902,2.117647,5.490196,11.529412,2.485714,...,0.000000,0.0,0.745098,762.411765,8.137255,44.509804,45.784314,35.843137,138.549020,0.019608

In [12]:
df4

,gameId,gameVersion,gameDuration,summonerName,teamId,individualPosition,championName,win,kills,deaths,...,team_goldEarned,team_totalDamageDealtToChampions,team_totalDamageTaken,team_kills,total_player_games,total_champ_games,KillParticipation,GoldPercent,DamageDealtPercent,DamageTakenPercent
0,4438988683,12.17.467.4767,40.333333,Andy,Blue,Jung,Sejuani,Win,1,7,...,75496,123016,168660,35,32,12,68.571429,17.037989,11.818788,24.433772
1,4439457855,12.17.467.4767,31.933333,Andy,Blue,Jung,Sejuani,Loss,4,9,...,57167,96578,133245,27,32,12,59.259259,18.330505,15.504566,30.497955
2,4465928586,12.19.471.6581,28.083333,Anthony,Blue,Top,Sejuani,Loss,1,4,...,46748,89518,115735,21,45,12,47.619048,21.526055,21.667151,26.675595
3,4459118495,12.19.471.6581,28.150000,Desp,Blue,Top,Sejuani,Loss,2,5,...,40429,74160,86258,14,25,12,42.857143,19.785303,17.868123,30.342693
4,4455711721,12.19.471.6581,48.800000,Milroy,Red,Jung,Sejuani,Win,3,7,...,87905,185168,222481,37,50,12,75.675676,17.446107,13.432127,25.293396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,4521856346,12.23.483.5208,38.150000,Nick D.,Red,Jung,Udyr,Win,5,6,...,70583,130399,144280,26,26,8,61.538462,20.844963,21.800781,29.733158
546,4521911672,12.23.483.5208,29.550000,Nick D.,Red,Jung,Rammus,Win,9,4,...,61363,98520,113240,34,26,1,61.764706,20.114727,16.315469,28.251501
547,4505454449,12.22.479.5277,24.000000,Luke,Blue,Top,Yorick,Win,1,4,...,46891,62052,82120,24,18,1,8.333333,19.453626,15.707793,16.500244
548,4515152757,12.23.483.5208,24.350000,Luke,Blue,Top,Tryndamere,Win,0,2,...,48070,68565,83613,24,18,1,0.000000,17.068858,17.829797,27.974119
549,4549142029,13.1.489.3737,34.783333,Luke,Red,Top,Malphite,Win,11,2,...,68539,120709,115188,41,18,1,48.780488,22.420812,18.551227,17.118103